/*--project name: ux portfolio--*/

/*--colours--/*
#ffffff - pure white
#212426 - willow charcoal
#9dcdb4 - pale green

#f1f9f9 - alice blue
#364958 - navy seal
#e7e7e7 - nice pale grey
/*--colours-end--/*

/*--defaults--*/
* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}
/*--defaults-end--*/


/*--typography--*/
Open Sans
Roboto

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
/*--typography-end--*/


/*---layout---*/
.wrapper {
  margin:0px;
  background-color: #fff;
  height:100%;
}

.header-container {
  height:85vh;
  background-color:#fff;
}

@media only screen and (max-width: 500px) {
.header-container {
      height:90vh;
  }
}

/*---nav---*/
.navcontainer {
  margin:0 auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color:#fff;
}

.navcontainer a {
  float:right;
  text-decoration: none;
  display:inline-block;
  color:#212426;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.navcontainer li {
  float:right;
  text-decoration: none;
  display:inline-block;
  color:#212426;
  padding-right:35px;
  padding-top:5px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
.navcontainer li {
      padding-right:20px;
  }
}
/*---nav-end---*/

/*---header-section--*/
/*---header-text-container--*/
.header-text-container {
  margin-left: 40px;
  width:60%;
  margin:0 auto;
  margin-top:140px;
}

@media only screen and (max-width: 800px) {
  .header-text-container {
      margin-top:90px;
      width:80%;
  }
}
@media only screen and (max-width: 500px) {
  .header-text-container {
      margin-top:60px;
      width:80%;
  }
}
/*---header-text-container--*/

/*---header-text-h1--*/
.header-text-container h1 {
	color: #364958;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 24px;
}

@media only screen and (max-width: 800px) {
  .header-text-container h1 {
      font-size:2rem;
  }
}

@media only screen and (max-width: 500px) {
  .header-text-containter h1 {
      font-size:1.5rem;
  }
}
/*---header-text-h1-end--*/

.header-text-container p {
	color:#212426;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6rem;
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .header-text-container p {
      font-size:1rem;
  }
}
@media only screen and (max-width: 500px) {
  .header-text-container p {
      font-size:0.75rem;
  }
}
/*---header-text-p-*/

/*--mouse scroll--*/
.mouse_scroll {
	display: block;
	width: 14px;
	height: 100px;
  position: relative;
}

.m_scroll_arrows
{
  display: block;
  width: 3px;
  height: 3px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #212426;
  border-bottom: 2px solid #212426;
  width: 16px;
  height: 16px;
  z-index: 3;
  margin: 0 auto;
}

.unu
{
  margin-top: 1px;
}

.unu, .doi
{
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/*--mouse scroll-end-*/

/*---snazzy-underline what is this code doing-think some of it is redundant--*/
a {
  text-decoration: none;
  color: #212426;
  transition: .3s all linear;
  position: relative;
  padding: .5em 0;
  font-family: 'Open Sans', sans-serif;
}
a:before, a:after {
  content: "";
  height: 2px;
  width: 0%;
  background: #364958;
  position: absolute;
  bottom: 0;
  transition: .2s all linear;
}
a:before {
  left: 50%;
}
a:after {
  right: 50%;
}
a:hover {
  color: black;
}
a:hover:before, a:hover:after {
  width: 100%;
}
a:hover:before {
  left: 0%;
}
a:hover:after {
  right: 0%;
}
a:active, a:focus {
  color: #364958;
}
a:active:before, a:active:after, a:focus:before, a:focus:after {
  background:#364958;
}

/*---snazzy-underline--*/

#work-link {
  text-decoration: none;
  padding: 0;
}
/*---header-section-end--*/

/*---case-study-button--*/

.wrap {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 300px;
  margin-left: 40px;
  margin-top: 30px;
}

.button {
  background-color: transparent;
  border: 2px solid #212426;
  border-radius: 4px;
  display: inline-block;
  color: #212426;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

  &:hover {
    background-color:#212426 !important;
  }
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(.175,.885,.32,1.275);
  font-family: 'Open Sans', sans-serif;
}

.roll-text:last-child {
  color: #212426;
}

.rollover:hover .roll-text:first-child {
  margin-top: -38px;
}

/*---case-study-button-end--*/

/* -- flex-grid--*/
.flex-grid {
  display: flex;
  height: 100vh;
}
@media (max-width: 500px) {
  .flex-grid {
    flex-direction: column;
    height: 1200px;
  }
}
@media (max-width: 400px) {
  .flex-grid {
    flex-direction: column;
    height: 1200px;
  }
}
@media (max-width: 300px) {
  .flex-grid {
    flex-direction: column;
    height: 1200px;
  }
}
.col {
  flex: 1;
}

/* --portfolio-images--*/
.image-one {
  background-image: url("../images/case-study-one-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position:relative;
}

.image-two {
  background-image: url("../images/weather-app-concept.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}

.image-three {
  background-image: url("../images/case-study-two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}

.image-four {
  background-image: url("../images/nurture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}

/* --portfolio-images-overlay--*/
.image-hover:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:black;
  opacity:0.7;
  transition: ease 0.7s;
}

.text {
  padding:0px;
  margin:0px;
  position:absolute;
  visibility: hidden;
  color:white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:0;
}

.text h1 {
  font-family: 'Open Sans', sans-serif;
}

.text p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}

.text h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  padding-top:30px;
}

.image-hover:hover > .text {
  visibility: visible;
  opacity:1;
  transition: ease  0.7s;
}

.image-hover:hover > .text-para {
  visibility: visible;
  transition: ease 1s;
  opacity:1;
}
/* --portfolio-images-overlay--*/

/* --contact-section--*/
.contact-section {
  width:100%;
  margin:0 auto;
  background-color: white;
}

@media (max-width: 500px) {
  .contact-section {
    display: inline-block;
  }
}

.contact-row {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#f1f9f9;
  height:80vh;
}

.contact-row p {
  font-size: 16px;
  color:#2a2a2a;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  text-align: left;
  width:65%;
  margin-left:85px;
  margin-right:85px;
}
@media (max-width: 500px) {
  .contact-row p {
  }
}
@media (max-width: 800px) {
  .contact-row p {
  }
}
.contact-row h1 {
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 40px;
  text-align: left;
  width:65%;
  margin-left:85px;
  margin-top:120px;
}

.contact-row a {
  font-size: 16px;
  color:black;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  text-align: left;
  width:65%;
  margin-left:85px;
}

@media (max-width: 800px) {
  .contact-row h1 {
  }
}

/* --contact-section-end--*/

/*--about-section--*/
#about-link {
  text-decoration: none;
  padding: 0;
}

.flex-grid-about {
  display: flex;
}

@media (max-width: 500px) {
  .flex-grid-about {
    flex-direction: column;
    height: 1200px;
  }
}

.about-left {
  flex: 1;
  flex-basis: 60%;
  height: 100vh;
  border-bottom: 4px solid #f1f9f9;
  height:auto;
  background-color:#fff;
}

@media (max-width: 500px) {
  .about-left {
    height:auto;
  }
}

.about-right {
  flex: 1;
  flex-basis: 40%;
  height: 100vh;
  border-bottom: 4px solid #f1f9f9;
}

@media (max-width: 500px) {
  .about-right {
    height:auto;
  }
}

.profile-photo {
  background-image: url("../images/me-four.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 100%;
}

.about-left h1 {
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 40px;
  margin-top: 150px;
  margin-left:85px;
}

.about-left p {
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 16px;
  margin-left:85px;
  margin-right: 85px;
}

.about-left a {
  color:black;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 16px;
  margin-left:85px;
  margin-right: 20px;
  margin-top: 40px;
}
/*--about-section-end--*/

/*--casestudy-section---*/
.header-container-casestudy {
  height:50vh;
  background-color:white;
}
.flex-grid-casestudy {
  display: flex;
  flex-wrap: wrap;
  background-color:#fff;
}

.casestudy-header {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  background-image: url("../images/case-study-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:20px;
}

.casestudy-content {
  flex: 1;
  flex-basis: 60%;
  height: auto;
  margin-left: 40px;
  margin-top:100px;
  margin-bottom: 100px;
}


.casestudy-content h1 {
  margin-left: 45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  width:65%;
  font-size:50px;
}
.casestudy-content h2 {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:38px;
  font-size:22px;
  width:65%;
}

.casestudy-content p {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
  width:65%;
}

.casestudy-content li {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
  width:65%;
}

.casestudy-sidebar {
  flex: 1;
  background:white;
  height: auto;
  margin-top:100px;
  margin-left: 40px;
}

.casestudy-sidebar p {
  margin: 10px 20px 10px 10px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 24px;
}

.casestudy-sidebar h3 {
  margin: 65px 10px 20px 10px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
}

.highlight-copy {
  background-color:white;
  margin: 60px 100px 60px 90px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 24px;
  border-left: 2px solid #9dcdb4;
  padding-left:10px;
}

.highlight-copy h2 {
  background-color:white;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  padding-left:0px;
}

.flex-grid-section {
  display: flex;
  flex-wrap:wrap;
}

@media (max-width: 500px) {
  .flex-grid-section {
    flex-direction: column;
  }
}

.section-header {
  flex: 1;
  flex-basis:100%;
  background: #f1f9f9;
}

.box-one {
  flex: 1;
  background: #f1f9f9;
  flex-basis: 33.3%;
  height:auto;
}

@media (max-width: 400px) {
  .box-one {
    flex-direction: column;
    height: 1200px;
  }
}

.box-two {
  flex: 1;
  background: #f1f9f9;
  flex-basis: 33.3%;
  height:auto;
}
@media (max-width: 400px) {
  .box-two {
      flex-direction: column;
      height: 1200px;
    }
}
.box-three {
  flex: 1;
  background: #f1f9f9;
  flex-basis: 33.3%;
  height:auto;
}
@media (max-width: 400px) {
  .box-three {
    flex-direction: column;
    height: 1200px;
  }
}

.flex-grid-section h1 {
  padding:10px 50px 10px 50px;
  color: #9dcdb4;
  font-size:60px;
}
.flex-grid-section h2 {
  padding:10px 50px 10px 50px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
}

.flex-grid-section p {
  padding:10px 50px 10px 50px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
}

/*--casestudy-section-two--*/
.flex-grid-section-two {
  display: flex;
  flex-basis: 100%;
}

@media (max-width: 500px) {
  .flex-grid-section-two {
    flex-direction: column;
    height: 1200px;
  }
}

@media (max-width: 770px) {
  .flex-grid-prototyping {
    flex-direction: column;
    height: auto;
  }
}


.image-right{
  background:#f1f9f9;
  z-index:2;
}
.image-right {
  flex: 60%;
  height:auto;
  background-image: url("../images/anne-persona.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
}

.image-left {
  flex: 40%;
  height:auto;
  position:relative;
  background:#f1f9f9;
}

.image-left li {
  padding:0px 50px 0px 30px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  line-height: 14px;
}

.image-left h2 {
  padding:10px 20px 0px 30px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height: 16px;
  color:#9dcdb4;
}
/*--casestudy-section-two-ends--*/

/*--casestudy-section-three--*/

.flex-grid-section-three {
  display: flex;
  flex-basis: 100%;
}
@media (max-width: 500px) {
  .flex-grid-section-three {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 770px) {
  .flex-grid-prototyping {
    flex-direction: column;
    height: auto;
  }
}


.image-left-affinity {
  flex: 35%;
  height:auto;
  background-image: url("../images/affinity-map-hand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:20px;
  height:700px;
}

.image-right-affinity {
  flex: 65%;
  height:auto;
  background-image: url("../images/affinitymap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  margin-top:20px;
  height:700px;
  margin-left: 10px;
  border-top: 2px solid #f1f9f9;
}

.user-journey {
  flex: 70%;
  height:auto;
  background-image: url("../images/retire-online-process-flow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  margin-top:10px;
  height:400px;
}

/*--casestudy-section-three-ends--*/

/*--casestudy-section-ideation--*/

.flex-grid-ideation {
  display: flex;
  flex-basis: 100%;
}
@media (max-width: 500px) {
  .flex-grid-ideation {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 770px) {
  .flex-grid-prototyping {
    flex-direction: column;
    height: auto;
  }
}


.sketching {
  flex: 50%;
  height:auto;
  background-image: url("../images/sketching.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:400px;
}

.lofi-wireframes {
  flex: 50%;
  height:auto;
  background-image: url("../images/lo-fi-wireframes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:400px;
}

.prototyping li {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
  width:65%;
}

.prototyping ul {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
  width:65%;
}
/*--casestudy-section-ideation--*/

/*--casestudy-section-testing--*/
.hifi-wireframes {
  flex: 40%;
  height:auto;
  background-image: url("../images/retireonlinegif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:650px;
}

.user-testing {
  flex: 60%;
  height:auto;
  background-image: url("../images/user-testing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:650px;
}

.access-content {
  background: #f1f9f9;
  flex: 50%;
}


.access {
  flex: 100%;
  height:auto;
  background-image: url("../images/access.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:0px;
  height:650px;
}


/*--casestudy-section-prototyping--*/
.flex-grid-prototyping {
  display: flex;
  flex-basis: 100%;
}
@media (max-width: 500px) {
  .flex-grid-prototyping {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 770px) {
  .flex-grid-prototyping {
    flex-direction: column;
    height: auto;
  }
}

.casestudy-section-prototyping {
  width:100%;
  margin:0 auto;
  background-color: #f1f9f9;
}

.mockup-one {
  flex: 50%;
  height:auto;
  background-image: url("../images/mock-up-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:650px;
}

.mockup-two {
  flex: 50%;
  height:auto;
  background-image: url("../images/retire-online-mockup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:30px;
  height:650px;
}
/*--casestudy-section-prototyping--*/



/*PROJECT-TWO-NURTURE*/

.casestudy-header-nuture {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  background-image: url("../images/nurture-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:20px;
}

.casestudy-content-nuture {
  flex: 1;
  flex-basis: 60%;
  height: auto;
  margin-left: 40px;
  margin-top:100px;
  margin-bottom:100px;
}

.casestudy-content-nuture h1 {
  margin-left: 45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  width:65%;
  font-size:50px;
}
.casestudy-content-nuture h2 {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  line-height:38px;
  font-size:22px;
  width:65%;
}

.casestudy-content-nuture p {
  margin-left:45px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height: 28px;
  width:65%;
}

.flex-grid-section-nuture {
  {
    display:flex;
    flex-wrap:wrap;
  }
}

.flex-grid-section-nuture h1 {
  padding:20px 50px 10px 50px;
  color: #9dcdb4;
  font-size:40px;
  margin-bottom: 0px;
}

.ux-process {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  background-image: url("../images/ux-process.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

/*PROJECT-TWO-CIRRUS*/

.casestudy-header-cirrus {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  background-image: url("../images/cirrus-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-top:20px;
}

/*---footer---*/
.footer-container {
  height:20vh;
  background-color:#f1f9f9;
  margin: 0 auto;
}

.social-icons li {
  text-decoration:none;
  display:inline-block;
  padding-right:35px;
  text-align: center;
  margin-top:20px;
}

.social-icons i {
  color:#212426;
  text-align:center;
}

.social-icons ul {
  margin:0;
  text-align: center;
}

.copyright {
  margin: 0 auto;
}

.copyright p {
  font-size:9px;
  color: #212426;
  text-align: center;
  margin-top:70px;
}

@media only screen and (max-width: 800px) {
  .copyright p {
    font-size:8px;
    color: #212426;
    text-align: center;
    margin-top:35px;
  }
}

@media (max-width: 500px) {
  .copyright p {
    font-size:6px;
    color: #212426;
    text-align: center;
    margin-top:30px;
  }
}
/*---footer-end--*/



/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}
