/*--Project Name: UX Portfolio--*/

/*--Colours--/*

#ffffff - white
#212426 - Charcoal
#9dcdb4 - light green

/*--defaults--*/

* {
     box-sizing: border-box;
}

img {
	max-width:100%;
}

/*--typography--*/

/*
Open Sans
Roboto
*/

/*---layout---*/

.wrapper {
  margin:12px 12px 12px 12px;
  background-color: white;
  height:100%;
}

.header-container {
  height:100vh;
  background-color:white;
}

.header-container-about {
  height:10vh;
  background-color:white;
}

/*---nav---*/
.navcontainer {
  margin:0 auto;
}

.navcontainer a {
  float:right;
  text-decoration: none;
  display:inline-block;
  color:#212426;
  font-size: 12px;
}

.navcontainer li {
  float:left;
  text-decoration: none;
  display:inline-block;
  color:#212426;
  padding-right:35px;
  padding-top:8px;
  font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 500px) {
.navcontainer li {
      padding-right:20px;
  }
}

.navcontainer li:nth-child(3) {
  float:right;
}

.navcontainer li:nth-child(4) {
  float:right;
}
/*---nav---*/

/*---header-section--*/
.header-text {
  margin:0 auto;
  width:65%;
  margin-top:150px;
}

@media only screen and (max-width: 800px) {
  .header-text {
      margin-top:110px;
  }
}

@media only screen and (max-width: 500px) {
  .header-text {
      margin-top:80px;
  }
}

.header-text h1 {
	color: #212426;
	font-size:44px;
  margin:0 auto;
  text-align:center;
  font-family: 'Nunito', sans-serif;
  z-index:2;
}

@media only screen and (max-width: 800px) {
  .header-text h1 {
      font-size:32px;
  }
}

@media only screen and (max-width: 500px) {
  .header-text h1 {
      font-size:24px;
  }
}

.header-text p {
	color:#212426;
	font-size:16px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  z-index:2;
  line-height: 28px;

}

@media only screen and (max-width: 800px) {
  .header-text p {
      font-size:14px;
  }
}

@media only screen and (max-width: 500px) {
  .header-text p {
      font-size:12px;
  }
}

.header-text-contact h1{
  color: #212426;
  font-size:42px;
  margin:0 auto;
  text-align:center;
  font-family: 'Nunito', sans-serif;
  margin-top:28px;
}


.header-text a {
  text-align: center;
}

/*---snazzy-underline--*/
a {
  text-decoration: none;
  color: #212426;
  transition: .3s all linear;
  position: relative;
  padding: .5em 0;
  font-family: 'Nunito', sans-serif;
}
a:before, a:after {
  content: "";
  height: 2px;
  width: 0%;
  background: #9dcdb4;
  position: absolute;
  bottom: 0;
  transition: .2s all linear;
}
a:before {
  left: 50%;
}
a:after {
  right: 50%;
}
a:hover {
  color: black;
}
a:hover:before, a:hover:after {
  width: 100%;
}
a:hover:before {
  left: 0%;
}
a:hover:after {
  right: 0%;
}
a:active, a:focus {
  color: #9dcdb4;
}
a:active:before, a:active:after, a:focus:before, a:focus:after {
  background:#9dcdb4;
}
/*---snazzy-underline--*/
.cta {
  display: block;
  margin: 0 auto;
  color: white;
  padding: 10px;
  z-index:2;
  margin-top:30px;
  margin-bottom:60px;
  border: 2px solid #9dcdb4;
  width:150px;
  border-radius: 2px;
}


.cta {
  background:white;
  color:#212426;
  border:none;
  position:relative;
  height:40px;
  line-height:30px;
  font-size:12px;
  padding-top:5px;
  padding-bottom:5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.cta:hover{
  background:white;
  color:black;
}
.cta:before,.cta:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #9dcdb4;
  transition:400ms ease all;
}
.cta:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.cta:hover:before,.cta:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*---snazzy-underline--*/

#work-link {
  text-decoration: none;
  padding: 0;
}

/*--mouse scroll--*/
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 14px;
	height: 100px;
  position: relative;
  z-index: 3;

}

.m_scroll_arrows
{
  display: block;
  width: 3px;
  height: 3px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #212426;
  border-bottom: 2px solid #212426;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  z-index: 3;
}

.unu
{
  margin-top: 1px;
}

.unu, .doi
{
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/*--mouse scroll--*/
/*--header-section--*/

/* -- flex-grid--*/
.flex-grid {
  display: flex;
  height: 100vh;
}

.col {
  flex: 1;
}

.image-one {
  background-image: url("../images/case-study-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position:relative;
}

@media (max-width: 500px) {
  .flex-grid {
    flex-direction: column;
    height: 1200px;
  }
}

.image-hover:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:black;
  opacity:0.7;
  transition: ease 0.7s;
}

.text {
  padding:0px;
  margin:0px;
  position:absolute;
  visibility: hidden;
  color:white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:0;
}
.text h1 {
  font-family: 'Nunito', sans-serif;
}
.text p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}
.text h5 {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  padding-top:30px;
}

.image-hover:hover > .text {
  visibility: visible;
  opacity:1;
  transition: ease  0.7s;
}

.image-hover:hover > .text-para {
  visibility: visible;
  transition: ease 1s;
  opacity:1;
}

.image-two {
  background-image: url("../images/case-study-two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}
.image-three {
  background-image: url("../images/weather-app-concept.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}

.image-four {
  background-image: url("../images/social-app.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 50%;
}

/*--casestudies--*/
.case-study-wrapper {
  margin:10px 10px 10px 10px;
}

.flex-grid-casestudy {
  display: flex;
  flex-wrap: wrap;
}

.casestudy-header {
  flex: 1;
  flex-basis: 100%;
  height: 300px;
  background-image: url("../images/case-study-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.casestudy-content {
  flex: 1;
  flex-basis: 70%;
  height: 400px;
}

.casestudy-content h1 {
  margin: 50px 200px 20px 50px;
  color:#212426;
  font-family: 'Nunito', sans-serif;
}
.casestudy-content h2 {
  margin: 20px 200px 20px 50px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
}

.casestudy-content p {
  margin: 20px 200px 20px 50px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
}

.casestudy-sidebar {
  flex: 1;
  background: #f1f1f1;
}

.casestudy-sidebar p {
  margin: 10px 10px 10px 10px;
  color:#212426;
  font-family: 'Open Sans', sans-serif;
}

.casestudy-sidebar h3 {
  margin: 50px 10px 20px 10px;
  color:#212426;
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
.case-study-wrapper {
  margin:10px;
  background-color: white;
  height:100%;
}


/*--about-page--*/

#about-link {
  text-decoration: none;
  padding: 0;
}

.flex-grid-about {
  display: flex;
  flex-wrap: wrap;
}
.about-header {
  flex: 1;
  background: white;
  flex-basis: 100%;
  height: 50vh;
  background-color: #f1f1f1;
}
.about-left {
  flex: 1;
  flex-basis: 40%;
  height: 100vh;
}

.profile-photo {
  background-image: url("../images/me-four.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height: 100%;
}

.about-right h1 {
  color:#212426;
  padding:20px;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 40px;
}

.about-right p {
  color:#212426;
  padding:20px;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 16px;
}

.about-right {
  flex: 1;
  background: white;
  flex-basis: 60%;
  height: 100vh;
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}


/*---about button---*/
.border-parent-contact {
  position:relative;
  text-align: center;
  padding:10px;
}

button.border-contact {
    border: 3px solid #222;
    background: #f1f1f1;
    color: #222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 0 auto;
    cursor: grabbing;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}

button.border-contact:hover {
    border-color: #9dcdb4;
    letter-spacing: 3px;

    }
button.border-contact:active {
    border-color: #7c1d2f;
}
/*--about-page--*/

/*---contact-page---*/
.contact-container {
  display: inline-block;
  grid-template-columns: 1.5fr 2fr;
  grid-gap:1em;
  grid-auto-rows: minmax(300px, auto);
  width:100%;
  margin:0 auto;
  background-color: white;
}


@media (max-width: 500px) {
  .contact-container {
    display: inline-block;
  }
}

.contact-column-two {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#f1f1f1;
  height:50vh;
}

.contact-column-two p {
  padding:5px 10px 2px 10px;
  font-size: 16px;
  color:#2a2a2a;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 500px) {
  .contact-column-two p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .contact-column-two p {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.contact-column-two h1 {
  color:#212426;
  padding:20px;
  font-family: 'Open Sans', sans-serif;
  line-height:24px;
  font-size: 40px;
  text-align: center;
}

/*---contact button---*/

button.border {
    border: 3px solid #222;
    background: white;
    color: #222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 10px 4px 2px 10px;
    cursor: grabbing;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;

}

button.border:hover {
    border-color: #9dcdb4;
    letter-spacing: 3px;
  }

button.border:active {
    border-color: #7c1d2f;
}


/*---footer---*/
.footer-container {
  height:20vh;
  background-color:white;
  margin: 0 auto;
}

.social-icons li {
  text-decoration:none;
  display:inline-block;
  padding-right:35px;
  text-align: center;
  margin-top:20px;
}

.social-icons i {
  color:#212426;
  text-align:center;
}

.social-icons ul {
  margin:0;
  text-align: center;
}

.copyright {
  margin: 0 auto;
}

.copyright p {
  font-size:9px;
  color: #212426;
  text-align: center;
  margin-top:70px;
}

@media only screen and (max-width: 800px) {
  .copyright p {
    font-size:8px;
    color: #212426;
    text-align: center;
    margin-top:35px;
  }
}

@media (max-width: 500px) {
  .copyright p {
    font-size:6px;
    color: #212426;
    text-align: center;
    margin-top:30px;
  }
}
/*---footer---*/


/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}
